.hide-for-small
  .row.spacer
  .row
    .twelve.columns
      %h2
        What is on the Agenda
  .row.agenda
    .four.columns
      %img{:src => "/assets/manifesto-peace.png", "data-toggle" => "peace"}
      %h4.peace{"data-toggle" => "peace"}
        Peace
    .four.columns
      %img{:src => "/assets/manifesto-entrepreneurship.png", "data-toggle" => "entrepreneurship"}
      %h4.entrepreneurship{"data-toggle" => "entrepreneurship"}
        Entrepreneurship
    .four.columns
      %img{:src => "/assets/manifesto-leadership.png", "data-toggle" => "leadership"}
      %h4.leadership{"data-toggle" => "leadership"}
        Leadership
  .row.spacer

  .manifesto
    .row.agenda-item.peace
      .indicator
      %h5
        We are the Peace Makers
      .quotes
        = render "/layouts/quotes_peace"
    .row.agenda-item.entrepreneurship
      .indicator
      %h5
        Get the youth the tools to create jobs
      .quotes
        = render "/layouts/quotes_en"
    .row.agenda-item.leadership
      .indicator
      %h5
        We are the leaders of today
      .quotes
        = render "/layouts/quotes_leadership"
    .about
      .row.peace.story
        %p
          Peace is something that all Kenyans want, and that all Kenyans need. The National Youth Summit is determined to promote and create a continuing culture of peace among the youth through this summit, not only during the elections, but forward into our bright future.
      .row.entrepreneurship.story.hidden
        %p
          We all say we all want jobs, but we are all waiting for someone to give us that job. Why not create the jobs for ourselves?? Be self sufficient, and self reliant! Wouldn't that be great? Entreprenuership allows that to happen. Developing yourself means you rely on yourself, and the amazing this about this is the ripple effect it has to you community, because then your community becomes self reliant!
      .row.leadership.story.hidden
        %p
          A leader is not supposed to be above his people; he is supposed to be a servant of the people. A true leader gives back to his comnmunity and cares about his community as if it were his own family. The call to true leadership rings loud to the youth, and we aim to dispel the illusion that we cannot help ourselves. We can collaborate with each other to meet our needs. We are, indeed, leaders ourselves.