.row.spacer
.row
  .twelve.columns
    %h2
      What is on the Agenda
.row
  .four.columns
    %img{:src => "/assets/manifesto-peace.png"}
    %h4.peace
      Peace
    %p
      We are the Peace Makers
  .four.columns
    %img{:src => "/assets/manifesto-entrepreneurship.png"}
    %h4.entrepreneurship
      Entrepreneurship
    %p
      Get the youth the tools to create jobs
  .four.columns
    %img{:src => "/assets/manifesto-leadership.png"}
    %h4.leadership
      Leadership
    %p
      We are the leaders of today
.row.spacer
.row