- content_for :title do
  = @title
.row.spacer
.row
  .twelve.columns
    %h3
      Partners
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/ushahidi.png"}
        %h4
          %a{:href=> "http://www.ushahidi.com", :target => "_blank"}
            Ushahidi
        %p
          Ushahidi - Crisis reporting
          'See something, say something', 'Ukishuku, julisha'
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/hivisasa_logo.png"}
        %h4
          %a{:href=> "http://www.hivisasa.com", :target => "_blank"}
            Hivi Sasa
        %p
          Hivi Sasa - Citizen Journalism
          'Your county, your news', 'Jimbo lako, jambo lako'
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_iebc.jpg"}
        %h4
          %a{:href=> "http://www.iebc.or.ke", :target => "_blank"}
            IEBC
        %p
          Do your part. Keep track
          The Independent Electoral and boundaries commission
