- content_for :title do
  = @title
.row.spacer
.row
  .twelve.columns
    %h3
      Sponsors
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_brand_kenya.jpg"}
        %h4
          %a{:href=> "#"}
            Brand Kenya
        %p
          Brand Kenya, lorem ipsum dolor...
      %li.sponsor
        %img{:src => "/assets/logo_global_peace_festival.jpg"}
        %h4
          %a{:href=> "#"}
            GLOBAL PEACE FESTIVAL
        %p
          Global Peace Festival, lorem ipsum dolor...
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_national_youth_sector_alliance.jpg"}
        %h4
          %a{:href=> "#"}
            National Youth Sector Alliance
        %p
          National Youth Sector Alliance, lorem ipsum dolor...
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_cewarn.jpg"}
        %h4
          %a{:href=> "#"}
            CEWARN
        %p
          CEWARN, lorem ipsum dolor...
