- content_for :title do
  = @title
.row.spacer
.row
  .twelve.columns
    %h3
      Sponsors
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_brand_kenya.jpg"}
        %h4
          %a{:href=> "http://www.brandkenya.go.ke", :target => "_blank"}
            Brand Kenya
        %p
          The Brand Kenya Board is a government agencies tasked with the responsibility of identifying
          and refining the key attributes of Kenya, that contribute positively to the image and reputation of
          the Nation.
      %li.sponsor
        %img{:src => "/assets/logo_global_peace_festival.jpg"}
        %h4
          %a{:href=> "http://www.globalpeace.org", :target => "_blank"}
            GLOBAL PEACE FESTIVAL
        %p
          Originally known as the Global Peace Festival, the Global Peace foundation is a global peace movement that celebrates and promotes the vision of 'One Family Under God' through building interfaith familes, strengthening familes and communities and fostering a culture of service and peace. The Foundation supports this movement through its youth arm's local chapter, the Global Peace Youth Corps Kenya(GPYC).
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_national_youth_sector_alliance.jpg"}
        %h4
          %a{:href=> "http://www.nysa.co.ke", :target => "_blank"}
            National Youth Sector Alliance
        %p
          Kenya Youth Empowerment Program
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_cewarn.jpg"}
        %h4
          %a{:href=> "http://www.cewarn.org", :target => "_blank"}
            CEWARN
        %p
          The Inter-Governmental Authority on Development (IGAD) is the premier regional
          organization for achieving peace, security, prosperity, development and
          integration in the Horn of Africa. It is one of the regional building blocks of
          the African Union bringing together eight countries in the greater Eastern
          Africa.

.row.spacer
  %hr
.row
  .twelve.columns
    %h3
      Partners
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        -#%img{:src => "/assets/88logo.jpg"}
        %h4
          %a{:href=> "http://www.unhabitat.org/categories.asp?catid=9", :target => "_blank"}
            UN Habitat
        %p
          -#88mph makes investments in early stage mobile-web companies targeting the African market; focusing purely on ideas with potential to scale across Africa
  .four.columns
    %ul.sponsors
      %li.sponsor
        -#%img{:src => "/assets/88logo.jpg"}
        %h4
          %a{:href=> "http://www.kurakwaamani.co.ke", :target => "_blank"}
            Kura Kwa Amani
        %p
          -#88mph makes investments in early stage mobile-web companies targeting the African market; focusing purely on ideas with potential to scale across Africa
  .four.columns
.row.spacer
  %hr
.row
  .twelve.columns
    %h3
      Supporters
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/88logo.jpg"}
        %h4
          %a{:href=> "http://www.ushahidi.com", :target => "_blank"}
            88mph
        %p
          88mph makes investments in early stage mobile-web companies targeting the African market; focusing purely on ideas with potential to scale across Africa