- content_for :title do
  = @title
.row.spacer
.row
  .twelve.columns
    %h3
      Sponsors
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_brand_kenya.jpg"}
        %h4
          %a{:href=> "http://www.brandkenya.go.ke", :target => "_blank"}
            Brand Kenya
        %p
          The Brand Kenya Board is a government agencies tasked with the responsibility of identifying
          and refining the key attributes of Kenya, that contribute positively to the image and reputation of
          the Nation.
      %li.sponsor
        %img{:src => "/assets/logo_global_peace_festival.jpg"}
        %h4
          %a{:href=> "http://www.globalpeace.org", :target => "_blank"}
            GLOBAL PEACE FESTIVAL
        %p
          Originally known as the Global Peace Festival, the Global Peace foundation is a global peace movement that celebrates and promotes the vision of 'One Family Under God' through building interfaith familes, strengthening familes and communities and fostering a culture of service and peace. The Foundation supports this movement through its youth arm's local chapter, the Global Peace Youth Corps Kenya(GPYC).
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_national_youth_sector_alliance.jpg"}
        %h4
          %a{:href=> "http://www.nysa.co.ke", :target => "_blank"}
            National Youth Sector Alliance
        %p
          The National Youth Sector Alliance is a national multi-stakeholders change network focusing on fostering policy dialogue between Kenyan youth and the Government. Our role in the summit is to support resource mobilization, strategy formulation, logistical support and linkages to youth networks country wide.
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/logo_cewarn.jpg"}
        %h4
          %a{:href=> "http://www.cewarn.org", :target => "_blank"}
            CEWARN
        %p
          The Inter-Governmental Authority on Development (IGAD) is the premier regional
          organization for achieving peace, security, prosperity, development and
          integration in the Horn of Africa. It is one of the regional building blocks of
          the African Union bringing together eight countries in the greater Eastern
          Africa.

.row.spacer
  %hr
.row
  .twelve.columns
    %h3
      Partners
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/un_habitat.jpg"}
        %h4
          %a{:href=> "http://www.unhabitat.org/categories.asp?catid=9", :target => "_blank"}
            UN Habitat
        %p
          The United Nations Human Settlements Programme, UN-HABITAT, is the United Nations agency for human settlements. It is mandated by the UN General Assembly to promote socially and environmentally sustainable towns and cities with the goal of providing adequate shelter for all.
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/kura_kwa_amani.jpg"}
        %h4
          %a{:href=> "http://www.kurakwaamani.co.ke", :target => "_blank"}
            Kura Kwa Amani
        %p
          Be a peace ambassador today and join the 2012 PEACE CAMPAIGN dubbed "Kura kwa Amani". Together we can save our Nation from another post election violence.
  .four.columns
.row.spacer
  %hr
.row
  .twelve.columns
    %h3
      Supporters
.row
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/88logo.jpg"}
        %h4
          %a{:href=> "http://www.ushahidi.com", :target => "_blank"}
            88mph
        %p
          88mph makes investments in early stage mobile-web companies targeting the African market; focusing purely on ideas with potential to scale across Africa
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/cisco_logo.jpg"}
        %h4
          %a{:href=> "http://www.cisco.com", :target => "_blank"}
            Cisco
        %p
          Cisco is the worldwide leader in networking that transforms how people connect, communicate and collaborate.
  .four.columns
    %ul.sponsors
      %li.sponsor
        %img{:src => "/assets/jtl_logo.jpg"}
        %h4
          %a{:href=> "http://www.jamii.co.ke", :target => "_blank"}
            Jamii Telecom
        %p
          Jamii Telecommunications Ltd (JTL) is a privately owned Kenyan company
          that is licensed by the Communication Commission of Kenya as a Telecommunications Network Operator under the Unified Licensing Framework.