// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darkBrown : #372f2c;
$mediumTextColor: #5c6667;

.attached, .top-bar {
  background-color: $darkBrown;
}

.attached .row::before, .attached .row::after {
  content: none;
}

.top-bar li.active {
  background: #ffffff;
}

.top-bar h1, .top-bar .top   {
  text-transform: uppercase;
}

.top-bar li.active > h1 > a {
  color: $darkBrown;
}

.top-bar .attached {
  padding: 0 15px;
  width: 100%;
  max-width: 100%;
  z-index: 0 !important;
}

header {
  background: #b7ddf2 url(/assets/nairobi.png) no-repeat center bottom;
  height: 400px;
  margin: -30px auto 0 !important;
}

header h1.subheader {
  margin-top: 0px;
  margin-bottom: 0px;
}

header p {
  color: $mediumTextColor;
}

.spacer {
  padding-top: 20px;
}

.centered {
  text-align: center;
}

.manifesto {
  background: transparent url(/assets/partners-border.png) repeat-x center top;
  background-color: #efefeb;
  min-height: 300px;
}


.manifesto h2 {
  color: $darkBrown;
}

.manifesto img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 227px;
}

.manifesto h3.peace {
  color: #3c82be;
}

.manifesto h3.entrepreneurship {
  color: #d84035;
}

.manifesto h3.leadership {
  color: #deb012;
}

.manifesto h3, .manifesto p {
  text-align: center;
}