// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darkBrown : #372f2c;
$mediumTextColor: #5c6667;
$peaceColor: #3c82be;
$entrepreneurshipColor: #d84035;
$leadershipColor: #deb012;
$lightGray: #efefeb;
$quoteColor: #6f6f6f;

.contain-to-grid {
  background: $darkBrown;

  .nav-bar {
    max-width: 1000px;
    margin: 0 auto;

    li {
      border-color: transparent;
    }
  }
}

.black {
  background: #000000;
}

.nav-bar > li.has-flyout > a.flyout-toggle:hover {
  background-color: transparent;
}

.container {
  width: 100%;

  .nav-bar {
    margin: 0px auto;
    background: $darkBrown;
    margin-bottom: 0;
    border-bottom: none;

    ul.flyout li a, .nav-bar li ul li a {
      background: #ffffff;
      font-weight: bold;
    }

    li.active {
      background: #ffffff;
      border-color: $darkBrown;
      border-bottom-color: #ffffff;
      border-top-color: #ffffff;
    }

    li.active:hover {
      border-color: $darkBrown;
      border-bottom-color: #ffffff;
      border-top-color: #ffffff;
    }

    li.active > a:hover {
      background: #ffffff;
      border-color: $darkBrown;
      cursor: pointer;
    }

    a.top   {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
    }
  }
}

.nav-bar li.active > a {
  color: $darkBrown;
}

.submenu h1 {
  font-size: 15px;
  text-decoration: underline;
}

.has-dropdown > a.top:hover {
  background: white;
}

a.learn-more {
  display: block;
  background: url(/assets/learnmore.png) no-repeat;
  width: 143px;
  height: 38px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;
  margin: auto;
  margin-top: 25%;
}

header {
  height: 400px;
  margin-top: 40px;
  position: relative;

  .slide {
    height: 400px;
  }


  div.orbit-wrapper div.slider-nav span.left {
    background: url(/assets/nav-left.png) no-repeat;
    background-size: 70%;
    left: 10%;
  }

  div.orbit-wrapper div.slider-nav span.right {
    background: url(/assets/nav-right.png) no-repeat;
    background-size: 70%;
    right: 10%;
  }

  .nairobi {
    background: url(/assets/nairobi.jpg) no-repeat top center;
  }

  .toboa {
    background: url(/assets/octop.jpg) no-repeat top center;
    .video {
      padding-top: 20px;
    }

    h2 {
      margin-top: 275px;
      margin-left: 63%;
      color:white;
    }
  }

  .mbusi {
    background: url(/assets/mbusi.jpg) no-repeat top center;
  }

  .mondrian {
    background: url(/assets/mondrian.jpg) no-repeat top center;
  }

  .slides { background: url(/assets/loader.gif) center center #f4f4f4; height: 300px; }
  .slides img { display: none; }

  .slides.orbit { background: none; }
  .slides.orbit img { display: block; }

  .skyline {
    background: url(/assets/nairobi.png) no-repeat bottom center;
    position: absolute;
    bottom: -3px;
    height: 77px;
    width: 100%;
    z-index: 3;
  }

  h1.subheader {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    color: $mediumTextColor;
  }
}

.spacer {
  padding-top: 20px;
}

.centered {
  text-align: center;
}

.body-bg {
  background: transparent url(/assets/partners-border.png) repeat-x center top;
  background-color: #efefeb;
  min-height: 300px;
}

.registration {
  background: #ffffff url(/assets/registration-border.png) no-repeat -34px center;
  margin-top: 30px;
  border-radius: 7px;
  padding: 10px 30px;

  h2, h4 {
    text-align: center;
    color: $darkBrown;
  }
}
.registration h3 {
  text-align: left;
}

.registration .loader {
  background: #ffffff url(/assets/loader.gif) no-repeat right center;
  height: 35px;
}

.registration p {
  font-size: 13px;
}

.submit {
  background-color: #3274b0;
  border: none;
}

.registration label.error {
  display: block;
  padding: 6px 4px;
  margin-top: -13px;
  margin-bottom: 12px;
  background:#c60f13;
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.tabs.vertical.social {
    margin-top: 20px;
}

.tabs.vertical dd a, .tabs.vertical li a {
  color: $darkBrown;
  font-weight: bold;
  background-color: #f7f7f7;
}

.social-icon {
  float: left;
  background: url(/assets/socio_all.png) no-repeat;
  width: 32px;
  height: 31px;
  margin-left: 30px;
  margin-top: -10px;
  margin-right: 15px;
}

.facebook.hover {
  background-position: -32px 0px;
}

.twitter {
  background-position: 0px -32px;
}

.twitter.hover {
  background-position: -32px -32px;
}

.google-plus {
  background-position: 0px -64px;
}

.google-plus.hover {
  background-position: -32px -64px;
}

.live-stream {
  background-position: 0px -96px;
}

.live-stream.hover {
  background-position: -32px -96px;
}

.blog {
  background-position: 0px -128px;
}

.blog.hover {
  background-position: -32px -128px;
}

.tabs.vertical dd a, .tabs.vertical li a:hover {
  color: #ffffff;
  background: $darkBrown;
}

.story {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 7px;
  padding: 10px 20px;

  h3 {
    color: $darkBrown;
  }

  .title {
    border-bottom: 1px solid $mediumTextColor;
    margin-bottom: 10px;
  }
}

.agenda {
  img, h4 {
    cursor: pointer;
    background: transparent;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 183px;
  }

  h4.peace {
    color: $peaceColor;
  }

  h4.entrepreneurship {
    color: $entrepreneurshipColor;
  }

  h4.leadership {
    color: $leadershipColor;
  }
}

.manifesto {

  .agenda-item.peace {
    .indicator {
      left: 100px;
    }

    background-color: $peaceColor;
    background: #3c82be; /* Old browsers */
    background: -moz-linear-gradient(top, #3c82be 13%, #dce1e5 79%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#3c82be), color-stop(79%,#dce1e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3c82be 13%,#dce1e5 79%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3c82be 13%,#dce1e5 79%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3c82be 13%,#dce1e5 79%); /* IE10+ */
    background: linear-gradient(to bottom, #3c82be 13%,#dce1e5 79%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c82be', endColorstr='#dce1e5',GradientType=0 ); /* IE6-9 */
  }

  .agenda-item.entrepreneurship {
    .indicator {
      left: 320px;
      background-position: 60px 0px;
    }
    background-color: $entrepreneurshipColor;
    background: -moz-linear-gradient(top,  #d84035 1%, #d84035 18%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d84035), color-stop(18%,#d84035), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d84035 1%,#d84035 18%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d84035 1%,#d84035 18%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d84035 1%,#d84035 18%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d84035 1%,#d84035 18%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d84035', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  }

  .agenda-item.leadership {
    .indicator {
      left: 530px;
      background-position: 30px 0px;
    }
    background-color: $leadershipColor;
    background: -moz-linear-gradient(top, #deb012 1%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#deb012), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #deb012 1%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #deb012 1%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #deb012 1%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #deb012 1%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deb012', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  }

  .agenda-item {
    min-height: 200px;
    border-radius: 0px 0px 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 20px;

    ul.orbit-bullets li {
      background-image: url(/assets/bullets.png);
      background-repeat:  no-repeat;
      background-position:  4px 0;
    }

    ul.orbit-bullets li.active {
      background-position: -8px 0;
    }

    .timer {
      display: none;
    }

    img.main {
      padding: 20px 20px;
    }

    div.orbit-wrapper div.slider-nav span {
      //margin-top: 29%;
    }

    blockquote {
      margin: 29px 21px 0px 0px;
      padding: 0;
      font-size: 130%;
      line-height: 160%;
      font-style: normal;
      border-left: none;
      text-decoration: underline;
      font-weight: bold;
    }

    .bqstart {
      float: left;
      height: 45px;
      margin-top: -36px;
      margin-left: -49px;
      padding-top: 45px;
      margin-bottom: -50px;
      font-size: 500%;
      color: $quoteColor;
    }

    .bqend {
      float: right;
      height: 25px;
      margin-top: 0px;
      padding-top: 45px;
      font-size: 500%;
      color: $quoteColor;
    }

    .bio {

    }
  }

  h5 {
    color: #ffffff;
    margin-top: 24px;
  }

  .quotes {
    background-color: #ffffff;
    min-height: 200px;
    border-radius: 5px 5px 0px 0px;

    .row.quote {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .hidden {
    display: none;
  }
}

.indicator {
  background: url(/assets/pointers.png);
  width: 29px;
  height: 14px;
  position: absolute;
  top: -14px;
}

.mobile-register {
  background: url(/assets/sms_register.jpg) no-repeat;
  height: 273px;
  width: 276px;
  margin: 20px auto;
}

.mobile-register {
  padding: 0px 25px 0px 17px;

  p {
    text-align: right;
    font-weight: bold;
  }

  h3 {
    text-align: right;
  }
}

ul.sponsors {
   li.sponsor {
     list-style-type: none;
     background: #ffffff;
     margin-bottom: 20px;
     padding: 10px 5px 20px;
     border-radius: 5px;

     img {
       display: block;
       margin-left: auto;
       margin-right: auto
     }

     h4 {
       text-align: center;
       text-decoration: underline;
       font-size: 14px;
     }

     p {
       text-align: center;
     }
   }

}