// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darkBrown : #372f2c;
$mediumTextColor: #5c6667;

.contain-to-grid .nav-bar {
  max-width: 1000px;
  margin: 0 auto;
}

.container .nav-bar {
  margin: 0px auto;
  background: $darkBrown;
}

.contain-to-grid {
  background: $darkBrown;
}

.container.nav-bar {
  margin-bottom: 0;
  border-bottom: none;
}

.container {
  width: 100%;
}

.nav-bar li {
  border-color: transparent;
}

.nav-bar li.active {
  background: #ffffff;
  border-color: $darkBrown;
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}

.nav-bar li.active:hover {
  border-color: $darkBrown;
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}

.nav-bar > li.active > a:hover {
  background: #ffffff;
  border-color: $darkBrown;
  cursor: pointer;
}

.nav-bar a.top   {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}


.nav-bar li.active > a {
  color: $darkBrown;
}

.submenu h1 {
  font-size: 15px;
  text-decoration: underline;
}

.container .flyout.large {
  width: 700px;
}

.top-bar ul > li.has-dropdown .dropdown li label {
  text-decoration: underline;
}

.has-dropdown > a.top:hover {
  background: white;
}

header {
  background: #b7ddf2 url(/assets/nairobi.png) no-repeat center bottom;
  height: 400px;
  margin-top: 40px;
}

header h1.subheader {
  margin-top: 0px;
  margin-bottom: 0px;
}

header p {
  color: $mediumTextColor;
}

.spacer {
  padding-top: 20px;
}

.centered {
  text-align: center;
}

.manifesto {
  background: transparent url(/assets/partners-border.png) repeat-x center top;
  background-color: #efefeb;
  min-height: 300px;
}


.manifesto h2 {
  color: $darkBrown;
}

.manifesto img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 183px;
}

.manifesto h4.peace {
  color: #3c82be;
}

.manifesto h4.entrepreneurship {
  color: #d84035;
}

.manifesto h4.leadership {
  color: #deb012;
}

.manifesto h4, .manifesto h2, .manifesto p, .registration h4 {
  text-align: center;
}

.registration {
  background: #ffffff url(/assets/registration-border.png) no-repeat -34px center;
  margin-top: 30px;
  border-radius: 7px;
  padding: 10px 20px;
}
.registration h3 {
  text-align: left;
}

.registration .loader {
  background: #ffffff url(/assets/loader.gif) no-repeat right center;
  height: 35px;
}

.registration p {
  font-size: 13px;
}

.submit {
  //margin-left: 50px;
  background-color: #3274b0;
  border: none;
}

.registration label.error {
  display: block;
  padding: 6px 4px;
  margin-top: -13px;
  margin-bottom: 12px;
  background:#c60f13;
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}