@media only screen and (max-width: 767px) {
  .registration {
    background: #ffffff;
  }

  header.large {
    background: url(/assets/mondrian.jpg) no-repeat top center;
    margin-top: 0px;
  }

  header.slim {
    margin: 0px;
  }

  .blog {

    .partners {
      height: 220px;

      img {
        margin: auto;
      }

      .columns {
        padding-bottom: 15px;
      }

      .learn-more {
        margin-top: 0;
      }
    }
  }
}