.slides.hide-for-small
  .slide.toboa
    .row
      .six.columns
        .video
          %video#octopizzo.video-js.vjs-default-skin{:controls => "", :preload => "none", :width => "460", :height => "315", "data-setup" => '{"techOrder":["youtube","html5"],"ytcontrols":false}'}
            %source{:src => "http://www.youtube.com/watch?v=U_oS8rjnyrY", :type => "video/youtube" }
      .six.columns
        %h2
          Octopizzo
  .slide.mbusi
  .slide.mondrian
.show-for-small
  -#.slide.mondrian