.container
  .fixed.contain-to-grid
    %ul.nav-bar
      %li.name{:class => defined?(@page)? "" : "active" }
        %a.top{:href => "/"}
          Home
      %li.has-flyout{:class => defined?(@page) && @page.slug =="about-the-summit" ? "active" : "" }
        %a.top{:href => "#"} The Summit
        %a.flyout-toggle{:href => "#"}
          %span
        %ul.flyout
          %li
            %a{:href => "/main/about-the-summit"} What is it about?
          -#%li
            %a{:href => "#"} Who is attending?
          %li
            %a{:href => "#"} Partners
          %li
            %a{:href => "#"} Sponsors
      %li
        %a.top{:href => "#"}
          Power Tools
      %li.top
        %a.top{:href => "#"}
          Blog
      %li
        %a.top{:href => "#"}
          Photos & Videos
