.container
  .fixed.contain-to-grid
    %ul.nav-bar
      %li.name.active
        %a.top{:href => root_path}
          Home
      %li.has-flyout
        %a.top{:href => "#"} The Summit
        %a.flyout-toggle{:href => "#"}
          %span
        %ul.flyout
          %li
            %a{:href => "#"} What is it about?
          %li
            %a{:href => "#"} Who is attending?
          %li
            %a{:href => "#"} Partners
          %li
            %a{:href => "#"} Sponsors
      %li
        %a.top{:href => "#"}
          Power Tools
      %li.top
        %a.top{:href => "#"}
          Blog
      %li
        %a.top{:href => "#"}
          Photos & Videos
