.attached
  .row
    %nav.top-bar
      %ul
        %li.name.active
          %h1
            %a{:href => root_path}
              Home
        %li.toggle-topbar
          %a{:href => "#"}
      %section
        %ul.left
          %li.divider
          %li.top.has-flyout
            %a{:href => "#"}
              The Summit
            %a.flyout-toggle{:href => "#"}
              %span
                &nbsp;
          %li.top
            %a{:href => "#"}
              Power Tools
          %li.top
            %a{:href => "#"}
              Blog
          %li.top
            %a{:href => "#"}
              Photos & Videos
