.show-for-small
  .row.black
    .twelve.columns
      %nav.top-bar
        %ul
          %li.name{:class => defined?(@page)? "" : "active" }
            %h1
              %a.top{:href => "/"}
                Home
          %li.toggle-topbar
            %a{:href => "#"}
        %section
          %ul.left
            %li.divider
            %li.has-dropdown
              %a.active
                The Summit
              %ul.dropdown
                %li
                  %a{:href => "/main/about-the-summit"} About
                -#%li
                  %a{:href => "/partners"} Partners
                %li
                  %a{:href => "/sponsors"} Sponsors
            %li
              %a.top{:href => "#"}
                Power Tools
            %li.top
              %a.top{:href => "/main/blog"}
                Blog
            %li
              %a.top{:href => "#"}
                Photos & Videos
.container.hide-for-small
  .fixed.contain-to-grid
    %ul.nav-bar
      %li.name{:class => defined?(@page)? "" : "active" }
        %a.top{:href => "/"}
          Home
      %li.has-flyout{:class => defined?(@page) && (@path == "summit" || @page.slug =="about-the-summit") ? "active" : "" }
        %a.top{:href => "#"} The Summit
        %a.flyout-toggle{:href => "#"}
          %span
        %ul.flyout
          %li
            %a{:href => "/main/about-the-summit"} About
          -#%li
            %a{:href => "/partners"} Partners
          %li
            %a{:href => "/sponsors"} Sponsors
      %li
        %a.top{:href => "#"}
          Power Tools
      %li.top{:class => defined?(@page) && (!@page.nil? && @page.slug == "blog") ? "active" : ""}
        %a.top{:href => "/main/blog"}
          Blog
      %li
        %a.top{:href => "#"}
          Photos & Videos
