.row.quote
  .four.columns
    %img.main{:src => "assets/martin.jpg"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        To do and perform and volunteer, is to give yourself. This will lead to one's own personal growth.
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Dr. Martin Kimani
    CEO, CEWARN
-#.row.quote
  .four.columns
    %img.main{:src => "assets/octopizzo.png"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        Another really cool inspiring quote from the man himself, Octo P.I. double o zi about why this is important
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Another Awesome Person
    is a Nairobi and Berlin based rapper who grew up on the mean alley ways of Kibera where he still lives and works
    giving back to the community that made him
-#.row.quote
  .four.columns
    %img.main{:src => "assets/octopizzo.png"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        Another really cool inspiring quote from the man himself, Octo P.I. double o zi about why this is important
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Another Awesome Person
    is a Nairobi and Berlin based rapper who grew up on the mean alley ways of Kibera where he still lives and works
    giving back to the community that made him