.row.quote
  .four.columns
    %img.main{:src => "assets/wangari.jpg"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        I think what the Nobel committee is doing is going beyond war and
        looking at what humanity can do to prevent war. Sustainable management
        of our natural resources will promote peace.
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Wangari Maathai
    Nobel Peace Prize Laureate
-#.row.quote
  .four.columns
    %img.main{:src => "assets/octopizzo.png"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        Another really cool inspiring quote from the man himself, Octo P.I. double o zi about why this is important
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Another Awesome Person
    is a Nairobi and Berlin based rapper who grew up on the mean alley ways of Kibera where he still lives and works
    giving back to the community that made him
-#.row.quote
  .four.columns
    %img.main{:src => "assets/octopizzo.png"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        Another really cool inspiring quote from the man himself, Octo P.I. double o zi about why this is important
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Another Awesome Person
    is a Nairobi and Berlin based rapper who grew up on the mean alley ways of Kibera where he still lives and works
    giving back to the community that made him