.row.quote
  .four.columns
    %img.main{:src => "assets/charles.jpg"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        The mind is infinitely is teachable. Learn something new everyday.
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Charles Gichuki
    Creative Director - Sprout Consulting
-#.row.quote
  .four.columns
    %img.main{:src => "assets/trevor.jpg"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        There is no traffic on the extra mile. Hard work is always rewarded.
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Trevor Kimenye
    CEO - Sprout Consulting
-#.row.quote
  .four.columns
    %img.main{:src => "assets/octopizzo.png"}
  .eight.columns
    %blockquote
      %span.bqstart
        &#8220;
      %span
        Another really cool inspiring quote from the man himself, Octo P.I. double o zi about why this is important
      %span.class.bqend
        &#8221;
  .twelve.columns.bio
    %strong - Another Awesome Person
    is a Nairobi and Berlin based rapper who grew up on the mean alley ways of Kibera where he still lives and works
    giving back to the community that made him