.registration
  %h4.cta
    Can't Attend the Summit?
  %p.cta-description
    No problem, just sign up here and get all the Summit
    content, tools and resources for free. Now that's
    Youth Power!
  %form#registration-form{}
    %input{:name => "participant[name]", :type => "text", :placeholder => "Your Name", :required => "required"}
    %input{:name => "participant[email]", :type => "email", :placeholder => "Your Email", :required => "required"}
    %input#tel{:name => "participant[phone_number]", :type => "tel", :placeholder => "Your Mobile", :required => "required"}
    .row
      .three.columns.progress-indicator
      .four.columns
        %input.button.radius.submit{:type => "submit", :value => "Sign me up"}
      .three.columns
.mobile-register
  .row
    .offset-by-five
      %h3
        SMS 8848
  .row
    .offset-by-five
      %p
        Register now to be a part of the National Youth Summit and the YouThePower Movement! Send your name, county and constituency, followed by 'YouThePower' to 8848.
%ul.tabs.vertical.social
  %li
    %a#facebook{:href=>"http://www.facebook.com/pages/National-Youth-Summit-Kenya/422812971106320?fref=ts", :target =>"_blank"}
      .social-icon.facebook
      FACEBOOK
  %li
    %a#twitter{:href=>"http://www.twitter.com/youthepower", :target=> "_blank"}
      .social-icon.twitter
      TWITTER
  %li
    %a#google-plus{:href=>"#"}
      .social-icon.google-plus
      GOOGLE +
  %li
    %a#live-stream{:href=>"#"}
      .social-icon.live-stream
      LIVESTREAM
  %li
    %a#blog-link{:href=>"/main/blog"}
      .social-icon.blog
      BLOG