.registration
  %h4.cta
    The Summit is Over!
  %p.cta-description
    Please register for access to tools and resources for free. Now that's
    Youth Power!
  %form#registration-form{}
    %input{:name => "participant[name]", :type => "text", :placeholder => "Your Name", :required => "required"}
    %input{:name => "participant[email]", :type => "email", :placeholder => "Your Email", :required => "required"}
    %input#tel{:name => "participant[phone_number]", :type => "tel", :placeholder => "Your Mobile", :required => "required"}
    .row
      .three.columns.progress-indicator
      .four.columns
        %input.button.radius.submit{:type => "submit", :value => "Sign me up"}
      .three.columns
.warning-message
  %h4
    WARNING
  %p
    Our 8848 short code did not send a message to invite anyone to a summit on 4th to 6th February 2013. We would like to warn the public that this message does not originate from National Youth Summit and that registration to the short code has been suspended until further notice. We are carrying out investigations to find the originator of the fictitious text for judicial action. Any inconveniences caused by the texts making rounds now is highly regretted as it is not the creation of the NYS digital platform team.
.mobile-register
  -#.row
    .offset-by-five
      %h3
        SMS 8848
  -#.row
    .offset-by-five
      %p
        Register now to be a part of the National Youth Summit and the YouThePower Movement! Send your name, county and constituency, followed by 'YouThePower' to 8848.
%ul.tabs.vertical.social
  %li
    %a#facebook{:href=>"http://www.facebook.com/pages/National-Youth-Summit-Kenya/422812971106320?fref=ts", :target =>"_blank"}
      .social-icon.facebook
      FACEBOOK
  %li
    %a#twitter{:href=>"http://www.twitter.com/youthepower", :target=> "_blank"}
      .social-icon.twitter
      TWITTER
  %li
    %a#google-plus{:href=>"https://plus.google.com/u/0/106583277513547257784", :target => "_blank"}
      .social-icon.google-plus
      GOOGLE +
  %li
    %a#live-stream{:href=>"http://youtube.com/user/youthepowerkenya", :target => "_blank"}
      .social-icon.live-stream
      YOUTUBE
  %li
    %a#blog-link{:href=>"/main/blog"}
      .social-icon.blog
      BLOG
.download
  %a.download-program{:href => "http://bit.ly/WQjlAH", :target => "_blank"}